.container {
  display: flex;
  height: 100dvh;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.mainContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  transition: all 0.3s ease;
  flex: 1;
  background-color: #ccc;
  width: 100%;
  max-width: 100%;
}

.sidebar {
  width: clamp(180px, 20vw, 250px); /* min:180px, preferred:20% of viewport width, max:250px */
  flex-shrink: 0;
  background-color: #fafafa;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}


.withSidebar {
  width: calc(100% - 250px); /* If sidebar is 250px */
}

.fullWidth {
  width: auto;
}

.header {
  background-color: var(--color-maroon);
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.60rem 1rem;
}

.headerLogo {
  width: 30px;
  height: 45px;
}

.pdfViewer {
  margin-inline: auto;
  width: 100%;
  max-width: 100%;
}