.jumpToSignature {
    position: "fixed";
    bottom: 20;
    right: 20;
    z-index: 999;
    background-color: lawngreen;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px ;
    cursor: "pointer";
}

.dragAndDropButton {
    background-color: aqua;
}