
.container {
  padding: min(2rem, 3%);
  background-color: #D9D9D9; 
  min-height: 100dvh;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  min-height: 100vh;
}

.contentSection {
  background-color: white;
  padding: min(1rem, 5%);
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.pageTitle {
  color: var(--color-maroon);
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.separator {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  border: 0;
  border-top: 1px solid #ccc;
}

.mainContanent {
    display: flex;
    padding: 50px 30px;
    gap: 10px;
    background-color: #D9D9D9;
}

.rightContent {
    background-color: white;
    box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%;
    padding: min(2rem, 3%) min(3rem, 5%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-inline: auto;
}

.rightContent h1 {
    font-size: 1.70rem;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--color-maroon);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.profileContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-self: flex-start;
    height: 100%;
}

.settingsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.documentContainer {
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    gap: 1rem;
    padding: min(1rem, 3%);
    align-self: flex-start;
}

.documentContainer > hr {
    border: 1px solid rgba(0, 0, 0, 0.2);
}


.modalOverlay {
   position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}



.deletemodalTitle {
  font-size: 1.5rem;
  color: #7F1416;
  margin-bottom: 1rem;
}

.modalContent {
 background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.modalActions {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.confirmButton {
  background-color: #AD191B;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: 40%;
}

.cancelButton {
  background-color: white;
  color: #AD191B;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: solid 2px #AD191B;
  cursor: pointer;
  width: 40%;
}


.closeButton {
  background-color: #177054;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: 50%;
}

.exbutton {
    display: none;
}

.Entryposition {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;
}

.Entryposition:hover {
    background-color: var(--color-grey);
}

.Entryposition:hover .exbutton {
    display: block;
}

.entryContentCheckbox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.positionTypeListContainer {
    display: flex;
    align-items: center;
    width: 100%;
}


