.container {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.userManagement {
    flex: 1;
    display: flex;
    padding: 20px;
    gap: 50px;
    background-color: #D9D9D9;
    padding: 50px 30px;
}

.userManagementDashboard {
    flex: 1;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 50px;
}

.userManagementDashboardSection {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.userManagementDashboardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2) ;
}

.userManagementDashboardHeader h1 {
    font-size: 1.70rem;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--color-maroon);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);

}

.userManagementDashboardHeader .createUserButton {
    background-color: var(--color-maroon);
    color: var(--color-yellow);
    vertical-align: middle;
    padding: 0.75rem 1.15rem;
    border-radius: 6px;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 0.85rem;
    cursor: pointer;

}

.userManagementSectionContent {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.userManagementSectionContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    min-height: 125px;
    width: 275px;
    padding: 0 20px;
}

.userManagementSectionContentContainer:first-of-type {
    border-left: 5px solid #2ACE9A;
}

.userManagementSectionContentContainer:nth-of-type(2) {
    border-left: 5px solid #0AE4FC;
}

.userManagementSectionContentContainer:nth-of-type(3) {
    border-left: 5px solid var(--color-yellow);
}

.userManagementSectionContentContainer:last-of-type {
    border-left: 5px solid var(--color-maroon);
}



.userManagementSectionContentContainer h1 {
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: capitalize;


}

.userManagementIconAndCount {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.userManagementIconAndCount p {
    font-size: 2.75rem;
    font-weight: 600;
    color: var(--color-maroon);
    white-space: nowrap;
}


.accounContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.accountContainerSectionHeader {
    display: flex;
    align-items: center; /* Prevent stretching */
    gap: 50px;
    justify-content: flex-start;
}

.searchContainer {
    display: flex;
    align-items: center;
    border: 2px solid black;
    gap: 10px;
    border-radius: 9px;
    position: relative;
    flex: 1;
    padding: 22px 10px;
    min-height: max-content;
}

.searchContainer .searchContainerIcon {
    height: 23px;
    width: 23px;
    cursor: pointer;
    position: absolute;
    z-index: 2;

}

.searchContainer .searchField {
    height: 50px;
    overflow: hidden;
    position: absolute;
    flex: 1;
    width: 100%;
    margin-left: 30px;
    

    
}

.searchContainer .searchField:focus {
    border: none;
    outline: none;
}

.accounContainer .selectStatus {
    padding: 10px;
    border: 2px solid black;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
}

.optionDropdownContainer {

    position: relative;
  display: inline-block;
  

}

.optionDropdownContainer .optionBtn {
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    gap: 10px;
}

.optionDropdownContainer .activeOptionBtn {
    padding: 10px 20px;
    border: 2px solid black;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    gap: 10px;
}


.optionDropdownContainer .tableDropdownMenu {
    position: absolute;
    padding: 10px 0;
    border: 2px solid black;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    border-top: none;
    gap: 10px;
    width: 100%;
    background-color: white;
}

.optionDropdownContainer .tableDropdownMenu li {
    width: 100%;
    padding: 10px 0;
    transition: background-color ease-out 0.3s;
    text-align: center;
}

.optionDropdownContainer .tableDropdownMenu li:hover {
    background-color: #D9D9D9;
}


.userActivitySectionContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.userActivitySectionContent .userActivityTable {
    width: 100%;
    border: 1px solid #D9D9D9;

}

.userActivityTable thead {
    background-color: #D9D9D9;
    height: 50px;
}

.userActivityTable thead th {
    text-transform: capitalize;
    font-size: 1.15rem;
    font-weight: 400;
    text-align: center;
    width: fit-content;

}


.userActivityTable tbody td {
    text-align: center;
    vertical-align: center;
    height: 70px;
    font-size: 1.15rem;
    width: fit-content;
}

#columnId {
}

#columnId .columnIdContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#columnId .cellProfile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    min-width: 250px;
}

#columnId .cellProfile .nameAndEmail {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#columnId .cellProfile .displayPicture {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    height: 35px;
    width: 35px;
}

#columnId .nameAndEmail p, #columnId .nameAndEmail span {
    text-align: left;
}

#columnId .nameAndEmail p {
    text-transform: capitalize;
}

#columnId .nameAndEmail span {
    font-weight: 100;
    margin-top: -10px;
    color: #403F3F;
    font-size: 0.85rem;
}

.completedApproved, .pendingStatus {
    padding: 0 25px;
    text-transform: capitalize;
    border-radius: 50px;
}


.completedApproved {
    background-color: #CAE9EE;
    color: #177054;

}

.pendingStatus {
    background-color: #FFD0D1;
    color: #7F1416;
    
}

#lastLoginDate p, #lastLoginDate span {
    text-align: center;
}

#lastLoginDate span {
    margin-top: -20px;
    color: #403F3F;
    font-weight: 100;
}

#actionButtons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#actionButtons button {
    text-transform: capitalize;
}

#actionButtons button:hover {
    text-decoration: underline;
}

.tableNavigationContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.tableNavigationContainer p {
    color: #403F3F;
}

.tableNavigationContainer .tableNavigation {
    display: flex;
    gap: 10px;
    align-items: center;

}

.tableNavigation button {
    text-transform: capitalize;
    border: 2px solid var(--color-maroon);
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 3px 0;
    color: var(--color-maroon);
    transition: background-color ease-out 0.3s;

}

.tableNavigation button:hover {
    background-color: var(--color-maroon);
    color: white;
}

.tablePageContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tablePageContainer .tablePage {
    border: 2px solid var(--color-maroon);
    color: var(--color-maroon);
    border-radius: 2px;
    padding: 3px 10px
}




