@import "tailwindcss";

:root {
  --color-yellow: #FCCB0A;
  --color-maroon: #7F1416;
  --color-grey: #D9D9D9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button, a, li {
  cursor: pointer;
}