@import "tailwindcss";
@import 'react-pdf/dist/esm/Page/AnnotationLayer.css';
@import 'react-pdf/dist/esm/Page/TextLayer.css';

:root {
  --color-yellow: #FCCB0A;
  --color-maroon: #7F1416;
  --color-grey: #D9D9D9;
  --color-light-blue: #CAE9EE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button, a, li {
  cursor: pointer;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}