

.container {
  padding: 24px;
  background-color: #D9D9D9; 
  min-height: 100vh;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.contentSection {
  background-color: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}



.pageTitle {
  color: var(--color-maroon);
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.separator {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  border: 0;
  border-top: 1px solid #ccc;
}


.wrapper {
  max-width: 1000px;
  margin: auto;
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
}




.main {
  border: 2px solid #e0e0e0;
}
.title {
  font-size: 2rem;
  color: #7F1416;
  margin-bottom: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  padding: 1rem;
  font-weight: bold;
  background-color: #f9f9f9;
}

.subtitle {
  font-size: 1.1rem;
}

.actionsHeader {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.deleteSelected {
  padding: 5px 10px;
  border: 1px solid #aaa;
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.notification {
  display: flex;
  align-items: flex-start;
  border-top: 1px solid #000000;
  padding: 1rem;
  position: relative;
}

.notification:last-child {
  border-radius: 0 0 10px 10px;
  border-bottom: 1px solid #ddd;
}

.bar {
  width: 5px;
  height: 100%;
  margin: 0 1rem;
  border-radius: 4px;
}

.details {
  flex: 1;
}

.notifTitle {
  margin: 0;
  font-size: 1rem;
  color: #000000;
}

.description {
  margin: 0.5rem 0;
  color: #000000;
}

.meta {
  display: flex;
  gap: 1rem;
  font-size: 0.85rem;
  color: #777;
  margin-top: 0.5rem;
}

.tag {
  color: var(--color-maroon);
  font-weight: bold;
  border: var(--color-maroon) 2px solid;
  padding: 3px 6px;
  border-radius: 20px;
}

.time {
  display: flex;
  align-items: center;
  gap: 4px;
}

.sideActions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  margin-left: 1rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.view,
.markRead,
.delete {
  padding: 4px 10px;
  font-size: 0.8rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.view {
  background-color: var(--color-maroon);
  color: white;
}

.markRead {
  background-color: #cce5ff;
  color: #004085;
}

.delete {
  background-color: var(--color-maroon);
  color: white;
}

.status {
  margin-left: auto;
  font-weight: bold;
  color: #888;
}




.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 1rem; 
}

.modalContent {
  background-color: #fff;
  border-radius: 12px;
  padding: 2rem;
  width: 650px;
  max-width: 100%;
  position: relative;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
  border: none;
  background: transparent;
  cursor: pointer;
}

.modalTitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-maroon);
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
}

.documentHeader {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; 
}

.profileImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.userIcon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FCCB0A;
  color: #7F1416;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.headerInfo {
  flex: 1;
  padding: 0 1rem;
}

.status {
  color: #856404;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  font-weight: 600;
  font-size: 0.9rem;
}

.highlight {
  color: var(--color-maroon);
  font-weight: bold;
}

.viewBtn {
  position: relative;
  overflow: hidden;
  background-color: var(--color-maroon);
  color: white;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  z-index: 0;
  transition: color 0.3s ease;
}

.viewBtn:hover {
  background-color: #8B1416;
}

.viewBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #FCCB0A;
  z-index: -1;
  transition: left 0.4s ease;
}

.viewBtn:hover::before {
  left: 0;
}

.viewBtn:hover {
  color: black;
}


 .modalDelete {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5) ;
}

.modalContentDelete {
    background: #fff;
    padding: 60px 24px;
    border-radius: 20px;
    width: 90%;
    max-width: 450px;
    position: relative;
    text-align: center;
    height: 50%;
    height: 300px;
}

/* confirm modal */

.confirmRestoreContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.confirmRestoreContainer > :first-child {
    color: #177054;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
}

.confirmRestoreContainer > :nth-child(2) {
    font-size: 0.95rem;
    color: black;
    text-align: center;
}

.confirmRestoreContainer .confirmRestoreActionButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.confirmRestoreContainer .confirmRestoreActionButton button {
    height: 35px;
    width: 100px;
    border-radius: 12px;
    text-transform: capitalize;
    font-size: 0.95rem;
}

.confirmRestoreContainer .confirmRestoreActionButton > :first-child {
    border: 2px solid #177054;
}

.confirmRestoreContainer .confirmRestoreActionButton > :last-child {
    background-color: #177054;
    color: white;
}


.confirmPermanentDeleteContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.confirmPermanentDeleteContainer > :first-child {
    color: var(--color-maroon);
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
}

.confirmPermanentDeleteContainer > :nth-child(2) {
    font-size: 0.95rem;
    color: black;
    text-align: center;
}

.confirmPermanentDeleteContainer .confirmPermanentDeleteActionButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.confirmPermanentDeleteContainer .confirmPermanentDeleteActionButton button {
    height: 35px;
    width: 100px;
    border-radius: 12px;
    text-transform: capitalize;
    font-size: 0.95rem;
}

.confirmPermanentDeleteContainer .confirmPermanentDeleteActionButton > :first-child {
    border: 2px solid var(--color-maroon);
}

.confirmPermanentDeleteContainer .confirmPermanentDeleteActionButton > :last-child {
    background-color: var(--color-maroon);
    color: white;
}

/* success modal */

.confirmSuccessContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.confirmSuccessContainer > :first-child {
    color: #177054;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
}

.confirmSuccessContainer > :nth-child(2) {
    font-size: 0.95rem;
    color: black;
    text-align: center;
}

.confirmSuccessContainer > :nth-child(3) {
    height: 35px;
    width: 200px;
    border-radius: 12px;
    text-transform: capitalize;
    font-size: 0.95rem;
    margin: 0 auto;
    background-color: #177054;
    color: white;
    
}

.actionBtn {
  color: white;
  padding: 0.5rem 1rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deleteBtn {
  background-color: #AD191B;
  color: white;
  transition: background-color 0.3s ease;
}

.deleteBtn:hover {
  background-color: #8B1416; 
}

.restoreBtn {
  background-color: #177054;
  color: white;
  transition: background-color 0.3s ease;
}

.restoreBtn:hover {
  background-color: #105C45; 
}



@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .sideActions {
    align-items: flex-start;
    margin-left: 0;
  }

  .buttons {
    flex-direction: column;
    width: 100%;
  }

  .view,
  .markRead,
  .delete {
    width: 100%;
  }

  .tag {
    border: var(--color-maroon) 1px solid;
    padding: 2px 4px;
    border-radius: 20px;
  }

@media (max-width: 768px) {
  .modalContent {
    padding: 1.5rem;
    width: 100%;
    max-width: 90%;
  }

  .modalTitle {
    font-size: 1.3rem;
  }

  .documentHeader {
    flex-direction: column;
    align-items: flex-start;
  }

  .headerInfo {
    padding: 0.5rem 0;
  }

  .status {
    font-size: 0.8rem;
  }

  .viewBtn {
    width: 100%; 
    text-align: center;
  }
}

@media (max-width: 480px) {
  .modalContent {
    padding: 1rem;
    max-width: 95%;
  }

  .modalTitle {
    font-size: 1.1rem;
  }

  .profileImage,
  .userIcon {
    width: 40px;
    height: 40px;
    font-size: 0.9rem;
  }
}

  .modalContent {
    width: 95%;
    padding: 1.5rem;
  }
}
