.background {
  background: url("/bg-perps.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow-x: hidden;
}

.background::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(128, 0, 0, 0.5);
  z-index: 0;
}

.card {
  position: relative;
  background: white;
  border-radius: 12px;
  padding: 30px;
  width: 500px;
  overflow-y: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.card::-webkit-scrollbar {
  width: 4px;
}

.card::-webkit-scrollbar-thumb {
  background-color: #7a0c1b;
  border-radius: 8px;
}

.title {
  color: #7a0c1b;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 25px;
}

.sectionTitle {
  color: #800000;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.form {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.formGroup {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 15px;
  width: 100%;
}

.input {
  flex: 1;
  min-width: 0;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #800000;
  border-radius: 6px;
  background-color: white;
  color: black;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.input:focus {
  border-color: #7a0c1b;
  box-shadow: 0 0 5px rgba(122, 12, 27, 0.5);
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.back {
  color: #7a0c1b;
  background: none;
  border: none;
  padding: 0;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
}

.back:hover {
  color: #fccb0a;
}

.Btn {
  position: relative;
  background-color: #7a0c1b;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
  transition: color 0.3s ease, background-color 0.3s ease;
  white-space: nowrap;
  width: 150px;
}

.Btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #fccb0a;
  transition: left 0.4s ease;
  z-index: -1;
}

.Btn:hover::before {
  left: 0;
}

.Btn:hover {
  color: black;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.message {
  margin-top: 0.25rem;
  padding-left: 0.5rem;
  font-size: 0.85rem;
}

.pass {
  color: green;
}

.fail {
  color: red;
}

.errorBox {
  background-color: #ffe6e6;
  border: 1px solid #ff4d4d;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 1rem;
}

.errorText {
  color: #d8000c;
  font-size: 0.9rem;
  margin: 0.2rem 0;
}

.errorBox + .buttonGroup {
  margin-top: 30px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #fff;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  position: relative;
  padding: 1.5rem;
}

.modalHeader {
  display: flex;
  color: var(--color-maroon);
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
}

.popupTextTerms {
  margin-top: 5px;
  font-weight: 500;
  color: var(--color-maroon);
}

.closeIcon {
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  line-height: 1;
  color: #333;
}

.modalContent {
  max-height: 90vh;
  overflow-y: auto;
  padding-right: 1rem;
  line-height: 1.6;
  font-size: 0.95rem;
}

.modalContent::-webkit-scrollbar {
  width: 8px;
}

/* mobile respo */
@media (max-width: 768px) {
  .background {
    padding: 0;
  }
  .card {
    width: 100vw;
    padding: 20px;
    min-height: 100vh;
  }

  .title {
    font-size: 24px;
  }

  .formGroup {
    flex-direction: column;
  }
}
