.background {
  background: url("/bg-perps.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(128, 0, 0, 0.5);
  z-index: 0;
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  width: 740px;
  height: auto;
  max-height: 90vh;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

.leftPanel {
  flex: 1;
  background-color: #7a0c1b;
  color: white;
  padding: 20px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  margin: 5px auto 20px;
}

.leftPanel h2 {
  margin-top: 10px;
  font-size: 18px;
}

.leftPanel h3 {
  margin: 0;
  font-size: 22px;
}

.leftPanel p {
  margin: 5px 0;
}

.mottoBtn {
  background-color: #a21629;
  border: none;
  color: white;
  padding: 8px 16px;
  margin: 12px auto;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: default;
}

.rightPanel {
  flex: 1;
  background-color: white;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Title {
  color: #7a0c1b;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  color: black;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

.input {
  padding: 10px;
  color: black;
  border-radius: 6px;
  border: 1px solid #800000;
  background-color: white;
  font-size: 14px;
}

.input:focus {
  outline: none;
  border-color: #7a0c1b;
  box-shadow: 0 0 5px rgba(122, 12, 27, 0.5);
}

.signInBtnNew {
  position: relative;
  background-color: #7a0c1b;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  overflow: hidden;
  z-index: 0;
  transition: color 0.3s ease;
}

.signInBtnNew::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #fccb0a;
  transition: left 0.4s ease;
  z-index: -1;
}

.signInBtnNew:hover::before {
  left: 0;
}

.signInBtnNew:hover {
  color: black;
}

.signInBtn {
  position: relative;
  background-color: #7a0c1b;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
  transition: color 0.3s ease;
}

.signInBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #fccb0a;
  transition: left 0.4s ease;
  z-index: -1;
}

.signInBtn:hover::before {
  left: 0;
}

.signInBtn:hover {
  color: black;
}

.forgotLink {
  color: #7a0c1b;
  font-size: 13px;
  margin-top: 10px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.forgotLink:hover {
  color: #fccb0a;
}

.signupPrompt {
  margin-top: 1rem;
  font-size: 0.875rem;
  text-align: center;
  color: black;
}

.signupLink {
  color: #7a0c1b;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s ease;
}

.signupLink:hover {
  text-decoration: underline;
  color: #fccb0a;
}

.message {
  padding-left: 0.5rem;
  font-size: 0.85rem;
}

.pass {
  color: green;
}

.fail {
  color: red;
}

.errorBox {
  background-color: #ffe6e6;
  border: 1px solid #ff4d4d;
  border-radius: 5px;
  margin-top: 18px;
  padding: 8px;
}

.errorText {
  color: #d8000c;
  font-size: 0.9rem;
  margin: 0.2rem 0;
}

.inputGroup {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.otpInput {
  width: 40px;
  height: 50px;
  font-size: 1.5rem;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 8px;
  transition: 0.2s ease;
}

.otpInput:focus {
  border-color: #7a0c1b;
  outline: none;
}

/* mobile respo */
@media (max-width: 768px) {
  .card {
    flex-direction: column;
    max-width: 500px;
    min-height: 20vh;
    border-radius: 20px;
  }

  .logo {
    align-items: flex-start;
  }

  .leftPanel h3 {
    margin: 0;
    font-size: 22px;
  }

  .mottoBtn {
    display: none;
  }

  .title {
    font-size: 24px;
  }

  .formGroup {
    flex-direction: column;
  }
}
